*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



:root {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  font-weight: bold;
  --mainColor: #CC3331;
  --bgColor: #E9E9DF;
  --shadowColor: #000;
  --bg-dark: #253b52;
  --bg-magenta: #510C42;
  --bg-blue: #0d27ba;
  --main-dark: #B8BABA;
  --main-magenta: #BDBBB4;
  --main-blue: #7ABE8D;

}



html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgColor);
  margin: 0;
  transition: background-color .52s;
}

/* 
body.dark {
  background-color: var(--bg-dark);
}


body.magenta {
  background-color: var(--bg-magenta)
}

body.blue {
  background-color: var(--bg-blue)
} */




nav {
  margin: 2rem 5rem;
}

ul {
  padding: 0;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>ul>li {
  list-style: none;
}

nav>ul>li>a {
  border-radius: 9px;
  border: 3px solid var(--shadowColor);
  background-color: var(--mainColor);
  box-shadow: 2px 2px 0px 0px var(--shadowColor);
  color: var(--shadowColor);
  font-family: Public Sans;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 34px;
  padding: 9px 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 350ms;
  text-decoration: none;
}

main {
  margin-top: 2rem;
}

section,
footer {
  margin: 12rem 9rem;
  color: var(--mainColor)
}

footer {
  margin-bottom: 3rem;
}

section>h1,
footer>h1 {
  font-weight: 800;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1.1;
}

section>p,
footer>p {
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0 0 1rem;

}

a {
  font-size: 1.62rem;
  font-style: normal;
  font-weight: 900;
  line-height: 34px;
  text-transform: uppercase;
}


span {
  font-size: 2rem;
}

h1.title {
  margin: 3rem 9rem;
  font-size: 8rem;
  line-height: 1.1;
  color: var(--mainColor);
  text-transform: uppercase;

}

h2.title {
  margin: 2rem 9rem 5rem;
  font-size: 6rem;
  line-height: 1.1;
  color: var(--mainColor);
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
}


nav>ul>li>a:hover {
  box-shadow: 4px 4px 0px 0px var(--shadowColor);
}

.project {
  width: 40%;
  margin-top: 4rem;
  padding: .5rem 1rem;
  border: 4px solid var(--shadowColor);
  box-shadow: 8px 8px 0px 0px var(--shadowColor);
  transition: box-shadow 550ms;
}

.project>img {
  width: 100%;
  border: 1px solid var(--shadowColor);
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.wrapper-links {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.call-to-action {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}


.wrapper-links>li>a,
.call-to-action>li>a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: opacity ease-in-out 450ms;
}



.wrapper-links>li>a:hover,
.call-to-action>li>a:hover {
  opacity: .6;
}

.project:hover,
:focus {
  box-shadow: 12px 12px 0px 0px var(--shadowColor);
}

.project>h2,
p,
a {
  color: var(--mainColor);
}

.color-changer {
  width: 10rem;
  height: 4rem;
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0);
  }
}


.color-changer:hover,
.color-changer:active {
  transform: scale(1.1);
}


.wrapper-links>li>a:focus,
.call-to-action>li :focus {
  box-shadow: none;
}

.web-icon {
  margin-left: .5rem;
}


@media screen and (max-width:30rem) {
  nav {
    margin: 2rem 1rem
  }

  .color-changer {
    width: 6rem;
    height: 3rem;
  }

  .color-changer:active,
  .color-changer:hover {
    transform: none;
  }

  nav>ul>li>a {
    padding: .5rem .8rem;
  }

  h1.title {
    font-size: 3.2rem;
    margin: 2rem 1.5rem;
  }

  h2.title {
    font-size: 2.5rem;
    margin: 2rem;
  }

  section,
  footer {
    margin: 6rem 2rem 2rem;
  }

  a {
    font-size: 1.2rem;
  }

  section>h1,
  footer>h1 {
    font-size: 3rem;
  }

  .project {
    width: max-content;
    margin-top: 2rem;
  }

  .wrapper,
  .wrapper-links {
    flex-wrap: wrap;
  }

  .wrapper-links>li {
    margin-bottom: .5rem;
  }

  .call-to-action {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .call-to-action>li {
    margin-top: 1rem;
  }
}


@media screen and (min-width:48rem) and (max-width: 64rem) {

  h1.title {
    margin: 2rem;
    font-size: 5.5rem;
  }

  h2.title {
    margin: 2rem;
    font-size: 4.5rem;
  }

  section,
  footer {
    margin: 6rem 2rem;
  }

  section>h1,
  footer>h1 {
    font-size: 5.5rem;
  }

  footer {
    margin-bottom: 3rem;
  }

  .wrapper-links>li {
    margin-bottom: .5rem;
  }

  .call-to-action {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .call-to-action>li {
    margin-top: 1rem;
  }
}